body{
    margin: 0%;
}
.flexible-container{
    display: flex;
}

.intro-div h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 90px;
    padding-left: 15px;
    border-left: 6px solid rgba(148, 0, 211, 0.7) ;
    height: 185px;
    

}
.head-colour{
    color:violet ;
}
.intro-div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
}
.intro-div{
    width: 50%;
    padding-left: 190px;
    padding-top: 100px;
}
.intro-image{
    height: 40em;
    
}
.explore-now-button{
    font-size: 25px;
    text-decoration: none;
    background-color:rgba(148, 0, 211, 0.7);
    color: white;
    padding: 15px 30px;
    border-radius: 7px;   
}
#scroll-para{
    padding-top: 40px;
}
.intro-section{
    padding-bottom: 50px;
}
.my-mission-in-2022-section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;

}

.MVG-header{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
}
.MVG-para{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
}
.mission-box{
    background-color: rgba(173, 216, 230, 0.3);
    border-radius: 50px;
    margin-left: 50px;
} 
.vision-box{
    background-color: rgba(255, 182, 193, 0.3);
    border-radius: 50px;
}
.goal-box{
    background-color: rgba(144, 238, 144, 0.3);
    border-radius: 50px;
    margin-right: 50px;
}
.MVG-section{
    padding-bottom: 50px;
}
.develop-image{
    height: 40em;
}
.girls-image{
    margin-top: 50px;
    
}
.develop-section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
